
@model ContactUsPostDto
@{ ViewData["Title"] = "Əlaqə"; }
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Bizimlə əlaqə qurun</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form asp-action="contactus" method="post">

                    <div class="control-group mb-3">
                        <input oninvalid="this.setCustomValidity('İşarələnmiş sahəni qeyd edin')" asp-for="ContactUs.FullName" type="text" class="form-control" placeholder="Adı" required="required" />
                        <span asp-validation-for="ContactUs.FullName" class="help-block text-danger"></span>
                    </div>
                    <div class="control-group mb-3">
                        <input oninvalid="this.setCustomValidity('İşarələnmiş sahəni qeyd edin')" asp-for="ContactUs.Email" type="email" required="required" class="form-control" placeholder="Email" />
                        <span asp-validation-for="ContactUs.Email" class="help-block text-danger"></span>
                    </div>

                    <div class="control-group mb-3">
                        <input oninvalid="this.setCustomValidity('İşarələnmiş sahəni qeyd edin')" asp-for="ContactUs.Subject" type="text" class="form-control" placeholder="Mövzu" required="required" />
                        <span asp-validation-for="ContactUs.Subject" class="help-block text-danger"></span>
                    </div>
                    <div class="control-group mb-3">
                        <textarea oninvalid="this.setCustomValidity('İşarələnmiş sahəni qeyd edin')" asp-for="ContactUs.Text" class="form-control" rows="8" placeholder="Mesaj" required="required"></textarea>
                        <span asp-validation-for="ContactUs.Text" class="help-block text-danger"></span>
                    </div>
                    <div><button class="btn btn-primary py-2 px-4" type="submit">Göndər </button></div>
                </form>
            </div>
        </div>

        <div class="col-lg-5 mb-5">
            <div class="bg-light p-30  text-center">
                <img src="~/img/contact-us-hero.png" style="width:60%" />
            </div>
            <div class="bg-light p-30 mt-2">
                <p class="mb-2">Müraciətlərinizi və təkliflərinizi bizə göndərin</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
